
.CinemaLocationPage {
   pointer-events: none;
   cursor: default;
}

iframe {
   width: 640px;
   height: 480px;
   border: groove #e0d48c;
}

li {
   font-weight: 900;
   font-size: x-large;
   position: relative;
   left: 50px;
   color: white;
}

/* p, table{
   font-weight: 500;
   font-size: x-large;
   color: rgb(154, 235, 235);
}

table {
   position: relative;
   top: 20px;
   left: 20px;
   border: solid e0d48c;
   border-spacing: 10px;
} */