html {
    text-align: center;
    background: linear-gradient(rgba(0,0,0,0.75),rgba(0,0,0,0.75)),url(../Images/Savin.jpg);
    background-size: cover;
    background-position: center;
    font-size: larger;
    font-weight: 400;
}
/*::-webkit-scrollbar {
    display: none;
  }*/

a {
    text-decoration: none;
}

.Banner {
   height: 150px;
   width: 1000px;
   transition: width 2s;
   -webkit-transition: width 2s;
   -webkit-animation-name: tilt; 
    -webkit-animation-duration: 4s; 
    animation-name: tilt;
    animation-duration: 4s;
    border-radius: 25px;
    border: solid rgb(241, 219, 176);
    overflow-x: hidden;
}

@-webkit-keyframes tilt {
    from {transform: rotate(4deg);}
    to {transform: rotate(0deg);}
}

@keyframes tilt {
    from {transform: rotate(4deg);}
    to {transform: rotate(0deg);}
}

.Banner:hover {
    width: 1300px;
}

a:link {
    color: rgb(142, 253, 253);
}

a:hover {
    color: rgb(202, 248, 128);
}

a:active {
    color: rgb(137, 202, 240);
}

nav {
    word-spacing: 200px;
    font-family: fantasy;
    font-size: x-large;
    background-color: #CCCCCC;
    border: 3px solid;
    letter-spacing: 3px;
    margin: 5px;
    padding-top: 5px;
    padding-bottom: 5px;
}